<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${annos.nimi}"> Name of the annos</title>
    
  <style>
    body  {
        background-image: url("https://www.publicdomainpictures.net/pictures/80000/velka/alcoholic-drink-in-small-glass.jpg");
        background-size: cover;
    }
    </style>

    </head>

    <body>

        <h1 th:text="${annos.nimi}"> Name of the annos</h1>
        <ul>    
            <h2>Lista raaka-aineista: </h2>
            <br/>
            <li th:each="ra : ${raakaaineet}">
                <span th:text= "${ra.raakaaineNimi +  ', ' + ra.maara}">raakaaineet</span>
            </li>
            <h3>Ohjeita </h3>
            <br/>
            <li th:each="ra : ${raakaaineet}">
                <span th:text= "${ra.ohje}">ohje</span>
            </li>


        </ul>

        <ul> 
            <li>
                <a href="/"> Drinkkilistaukseen </a>
            </li>
        </ul>    
    </body>
</html>
