<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html>

    <head>
        <title>Drinkit</title>
    </head>

    <body>
        <h1>Drinkkilista</h1>


        <ul>
            <li th:each="arvo : ${lista}">

                <a th:href="@{~/drinkki/{id}(id=${arvo.nimi})}"> <span th:text="${arvo.nimi}"> </span> </a>
                <!--Yllä pitäisi olla linkki missä url on drinkki/id, se ei toimi vielä-->

                <!-- Tätä ei tarvita vielä mutta hyvä olla tallessa>
                                <form th:action="@{~/delete/{id}(id=${arvo.id})}" method="POST">
                                  
                                    <input type="submit" value="Poista"/>
                                </form>
                                   <-->

            </li>
        </ul>

        <ul> 
            <li>
                <a href=""> Luo uusi drinkki </a>
                <!-- tähän linkki -->

            </li>
            <li> 
                <a href="/lisaamisnakyma"> Tarkastele ja lisää aineksia </a>
                <!-- tähän linkki -->
            </li>
            <!-- Tämä osa luo uusi drinkki sivulle, huonekalun tilalle nykyisen tietokannan nimi
            <form action="/create" method="POST">
                <input type="text" name="huonekalu"/>
                <input type="submit"/>
            </form>
            -->
        </ul>
    </body>

</html>
