<!DOCTYPE html>

<html><head>
  <title>Härpäke</title>
</head>
<body>

  <h2>Drinkit</h2>

  <ul>
	<li th:each="annos : ${annokset}">
		<a th:href="@{~/drinkki/{id}(id=${annos.id})}">
                    <span th:text="${annos.nimi}">Annos</span>
                </a>
		(<a href="@{~/drinkki/{id}(id=${annos.id})}/poista">poista</a>)
	</li>
  </ul>


  <h4>Lisää uusi</h4>
  
  <form method="POST" action="">
      Drinkin nimi:<br>
      <input name="aine" type="text"><br>
      <input value="Lisää" type="submit">
  </form>

  <h4>Lisää raaka-aineita</h4>

  <form action="" method="post"">
      Smoothien nimi:<br>
      <select name="drinkki">
	<option th:each="nimi: ${annokset}" th:value="${annos.id}" th:text="${annos.nimi}">
          annos
	</option>
      </select>
      <br>
      Lisättävä raaka-aine<br>
      <select name="raakaAine">
        <option th:each="nimi: ${raakaAineet}" th:value="${raakaAine.id}" th:text="${raakaAine.nimi}">
          raakaAine
	</option>
      </select>
      <br>
      Järjestys<br>
      <input name ="jarjestys" type="text"><br>
      Määrä<br>
      <input type="text"><br>
      Ohje<br>
      <input type="text"><br>
      <input value="Lisää" type="submit">
  </form>

  <ul>
    <li>
      <a href="../">Drinkkilistaukseen</a>
    </li>
  </ul>

<div></div></body></html>
